{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Municipal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
            
            {% if request.tiene_secretaria %}
                <a href="{% url 'usuarios:inicio' %}">Inicio</a>
                <a href="{% url 'personas:lista_personas' %}">Personas</a>
                <a href="{% url 'secretarias:mis_ayudas' %}">Mis ayudas</a>
                <a href="{% url 'solicitudes:entregar_ayuda' %}">Entregar ayuda</a>
            {% endif %}

            <form method="post" action="{% url 'logout' %}" style="display:inline; margin-left: 15px;">
                {% csrf_token %}
                <button style="background-color: #1e3a5f; color: white; border: none; cursor: pointer; font-weight: bold; font-size: 15px;" type="submit">
                    Cerrar sesión
                </button>
            </form>

        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </nav>

    <div class="contenedor">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>