{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Municipal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'usuarios:inicio' %}">Inicio</a>
        <a href="{% url 'personas:lista_personas' %}">Personas</a>
        <a href="{% url 'secretarias:lista_secretarias' %}">Secretarías</a>
        <a href="{% url 'secretarias:lista_ayudas' %}">Ayudas</a>
        <a href="/admin/">Admin</a>
    </nav>

    <div class="contenedor">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>