{% extends "base.html" %}

{% block title %}
    {% if modo_edicion %}Editar persona{% else %}Nueva persona{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if modo_edicion %}Editar persona{% else %}Registrar persona{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    
        {% if form.errors %}
            <div style="background: #ffcccc; padding: 10px; border-radius: 5px;">
                {{ form.errors }}
            </div>
        {% endif %}

    {{ form.as_p }}

    <hr>
    <h3>Convivientes</h3>

    <div id="convivientes-container">
        {% if modo_edicion %}
            {% for conviviente in persona.convivientes.all %}
                <div class="conviviente-item">
                    <hr>
                    <input type="text" name="conviviente_nombre" placeholder="Nombre" value="{{ conviviente.nombre }}">
                    <input type="text" name="conviviente_apellido" placeholder="Apellido" value="{{ conviviente.apellido }}">
                    <input type="text" name="conviviente_dni" placeholder="DNI" value="{{ conviviente.dni }}">
                    <input type="text" name="conviviente_parentesco" placeholder="Parentesco" value="{{ conviviente.parentesco }}">
                    <a class="btn" type="button" onclick="eliminarConviviente(this)">Eliminar conviviente</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <a class="btn" type="button" onclick="agregarConviviente()">
        Agregar conviviente
    </a>

    <br><br>


    <a class="btn" href="{% url 'personas:lista_personas' %}">Volver</a>
    <button type="submit">Guardar</button>
</form>

<script>
    function agregarConviviente() {
        const container = document.getElementById("convivientes-container");

        const div = document.createElement("div");
        div.classList.add("conviviente-item");

        div.innerHTML = `
            <hr>
            <input type="text" name="conviviente_nombre" placeholder="Nombre">
            <input type="text" name="conviviente_apellido" placeholder="Apellido">
            <input type="text" name="conviviente_dni" placeholder="DNI">
            <input type="text" name="conviviente_parentesco" placeholder="Parentesco">
            <a class="btn" type="button" onclick="eliminarConviviente(this)">Eliminar conviviente</a>
        `;

        container.appendChild(div);
    }

    function eliminarConviviente(boton) {
        boton.closest(".conviviente-item").remove();
    }
</script>


{% endblock %}