{% extends "base.html" %}

{% block title %}Personas{% endblock %}

{% block content %}
    <h1>Listado de personas</h1>

    <a href="{% url 'personas:crear_persona' %}">Nueva persona</a>

    <ul>
        {% for persona in personas %}
            <li>
                {{ persona.apellido }}, {{ persona.nombre }} - DNI {{ persona.dni }}
                <a href="{% url 'personas:detalle_persona' persona.id %}">Ver detalle</a>
            </li>
        {% empty %}
            <li>No hay personas registradas.</li>
        {% endfor %}
    </ul>
{% endblock %}